<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3"></div>
      <div class="col-md-4 mb-3">
        <form [formGroup]="postForm" (ngSubmit)="createPost()">
          <div class="form-group">
            <label for="exampleInputEmail1"><h1>Create Post</h1></label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="title"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="postForm.invalid"
          >
            Submit
          </button>
        </form>
      </div>
      <div class="col-md-4 mb-3"></div>
    </div>
  </div>
</section>
